---
import Basic from '../../layouts/Basic.astro';
async function getGuestEntries() {
  const response = await fetch(new Request(`https://api.netlify.com/api/v1/forms/${import.meta.env.GUESTBOOK_ID}/submissions`, {method: 'GET', headers: {'Authorization': `Bearer ${import.meta.env.NETLIFY_ACCESS}`}}));
  return response.json();
}
const entries = await getGuestEntries();

// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
---

<Basic title="Contact" page="contact">
<h2 id="email">Email me</h2>
<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" Content-Type="application/x-www-form-urlencoded">
  <input type="hidden" name="form-name" value="contact" />
  <p>
    <label
      >Name:
      <br /><input type="text" name="name" required /></label
    >
  </p>
  <p>
    <label
      >Email address:
      <br /><input type="email" name="email" required /></label
    >
  </p>
  <p>
    <label>Subject <small>(no captcha - skip this field if you're real)</small>
       <input type="text" name="bot-field" placeholder="Typing here removes button!" />
    </label>
  </p>
  <p>
    <label class="message">Message:<br /><textarea name="message" required /></label>
  </p>
  <p>
    <button type="submit"><b>Send Email</b></button>
  </p>
</form>
<h2 id="socials">Social Links</h2>
<ul>
  <li>
    <a rel="me" href="https://front-end.social/@sarajw">
      <img src="/images/icons/mastodon.svg" alt="Mastodon" title="Mastodon">
      @sarajw
    </a>
  </li>
  <li>
    <a href="https://github.com/sarajw" rel="me authn">
      <img src="/images/icons/github.svg" alt="GitHub" title="GitHub">
      /sarajw
    </a>
  </li>
  <li>
    <a href="https://codepen.io/sarajw">
      <img src="/images/icons/codepen-icon.svg" alt="CodePen" title="CodePen">
      /sarajw
    </a>
  </li>
  <li>
    <a href="https://sara.omg.lol">
      <img src="/images/icons/prami.svg" alt="omg.lol" title="omg.lol">
      sara.omg.lol
    </a>
  </li>
  <li>
    <a href="https://sarajw.hashnode.dev/">
      <img src="/images/icons/hashnode-icon.svg" alt="hashnode" title="hashnode">
      sarajw.
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/sarajw/">
      <img src="/images/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn">
      /sarajw
    </a>
  </li>
  <!-- <li>
    <a href="https://twitter.com/sarajoydev">
      <img src="/images/icons/twitter.svg" alt="Twitter" title="Twitter">
      @sarajoydev
    </a>
  </li> -->
</ul>
<h2 id="guestbook">Sign the Guestbook</h2>
  <form name="guestbook" method="POST" netlify-honeypot="bot-field" data-netlify="true" Content-Type="application/x-www-form-urlencoded">
    <input type="hidden" name="form-name" value="guestbook" />
    <p>
      <label
        >Name
        <br /><input type="text" name="name" required /></label
      >
    </p>
    <p>
      <label
        >Email <small>(optional, not published)</small>
        <br /><input type="email" name="email" /></label
      >
    </p>
    <p>
      <label
        >URL <small>(optional, linked from Name)</small>
        <br /><input type="url" name="url" placeholder="https://example.com" pattern="https://.*" /></label
      >
    </p>
    <p>
      <label>Subject <small>(no captcha - skip this field if you're real)</small>
         <input type="text" name="bot-field" placeholder="Typing here removes button!" />
      </label>
    </p>
    <p>
      <label class="message">Message<br /><textarea name="message" required /></label>
    </p>
    <p>
      <button type="submit"><b>Sign Guestbook</b></button>
    </p>
  </form>

  <a href="#" class="backtotop" title="Back to top"><img src="/images/icons/chevron-up.svg" alt="chevron pointing up"></a>
  <div class="rainbow">
    {entries.map((entry: any) =>(
      <article class="entry">
        <h2>{entry.human_fields.Url && <a href={entry.human_fields.Url}>{entry.name}</a>}{!entry.human_fields.Url && entry.name}</h2>
        <p>{entry.body}</p>
        <time>{new Date(entry.created_at).toLocaleDateString('en-gb', {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        })}</time>
      </article>
    ))}
  </div>
</Basic>