---
import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
import Basic from '../../layouts/Basic.astro';
async function getGuestEntries() {
  const response = await fetch(new Request(`https://api.netlify.com/api/v1/forms/${import.meta.env.GUESTBOOK_ID}/submissions`, {method: 'GET', headers: {'Authorization': `Bearer ${import.meta.env.NETLIFY_ACCESS}`}}));
  return response.json();
}
const entries = await getGuestEntries();

// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
---

<Basic title="Contact" page="contact">
<h2 id="email">Email me</h2>
<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" Content-Type="application/x-www-form-urlencoded">
  <input type="hidden" name="form-name" value="contact" />
  <p>
    <label
      >Name:
      <br /><input type="text" name="name" required /></label
    >
  </p>
  <p>
    <label
      >Email address:
      <br /><input type="email" name="email" required /></label
    >
  </p>
  <p>
    <label>Subject <small>(please skip this field if you're real)</small>
      <br /><input type="text" name="bot-field" placeholder="Leave me be!" />
      <small>Are you sure you want to type in here? I won't get your message!</small>
    </label>
  </p>
  <p>
    <label class="message">Message:<br /><textarea name="message" required /></label>
  </p>
  <p>
    <label class="consent"><input type="checkbox" required><small>I consent to <a href="https://www.netlify.com/platform/core/forms/">Netlify Forms</a> receiving this message and passing it through <a href="https://akismet.com/">Akismet</a> spam filtering. <a href="#privacy-policy">Privacy policy.</a></small></label>
  </p>
  <p>
    <button type="submit"><b>Send Email</b></button>
  </p>
</form>
<h2 id="socials">Social Links</h2>
<ul>
  <li>
    <a class="img" rel="me" href="https://front-end.social/@sarajw">
      <img class="social" src="/images/icons/mastodon.svg" alt="Mastodon" title="Mastodon">@sarajw
    </a>
  </li>
  <li>
    <a class="img" href="https://bsky.app/profile/sjoy.lol">
      <img class="social" src="/images/icons/Bluesky_Logo.svg" alt="Bluesky" title="Bluesky">@sjoy.lol
    </a>
  </li>
  <li>
    <a class="img" href="https://discord.com/users/537249425261723679">
      <img class="social" src="/images/icons/discord.svg" alt="Discord" title="Discord">sarajoy
    </a>
  </li>
  <li>
    <a class="img" href="https://spacehey.com/sarajw">
      <img class="social" src="/images/icons/spacehey_icon.svg" alt="SpaceHey" title="SpaceHey">/sarajw
    </a>
  </li>
  <li>
    <a class="img" href="https://sara.omg.lol">
      <img class="social" src="/images/icons/prami-mono.svg" alt="omg.lol" title="omg.lol">sara.omg.lol
    </a>
  </li>
  <li>
    <a class="img" href="https://github.com/sarajw" rel="me authn">
      <img class="social" src="/images/icons/github.svg" alt="GitHub" title="GitHub">/sarajw
    </a>
  </li>
  <li>
    <a class="img" href="https://codepen.io/sarajw">
      <img class="social" src="/images/icons/codepen-icon.svg" alt="CodePen" title="CodePen">/sarajw
    </a>
  </li>
  <li>
    <a class="img" href="https://www.linkedin.com/in/sarajw/">
      <img class="social" src="/images/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn">/sarajw
    </a>
  </li>
</ul>
<h2 id="guestbook">Sign the Guestbook</h2>
  <form name="guestbook" method="POST" netlify-honeypot="bot-field" data-netlify="true" Content-Type="application/x-www-form-urlencoded">
    <input type="hidden" name="form-name" value="guestbook" />
    <p>
      <label
        >Name
        <br /><input type="text" name="name" required /></label
      >
    </p>
    <p>
      <label
        >Email <small>(optional, not published)</small>
        <br /><input type="email" name="email" /></label
      >
    </p>
    <p>
      <label
        >URL <small>(optional, linked from Name)</small>
        <br /><input type="url" name="url" placeholder="https://example.com" pattern="https://.*" /></label
      >
    </p>
    <p>
      <label>Subject <small>(please skip this field if you're real)</small>
        <br /><input type="text" name="bot-field" placeholder="Leave me be!" />
        <small>Are you sure you want to type in here? I won't get your message!</small>
      </label>
    </p>
    <p>
      <label class="message">Message<br /><textarea name="message" required /></label>
    </p>
    <p>
      <label class="consent"><input type="checkbox" required><small>I consent to <a href="https://www.netlify.com/platform/core/forms/">Netlify Forms</a> receiving this message and passing it through <a href="https://akismet.com/">Akismet</a> spam filtering. <a href="#privacy-policy">Privacy policy.</a></small></label>
    </p>
    <p>
      <button type="submit"><b>Sign Guestbook</b></button>
    </p>
  </form>

  <PrivacyPolicy />

  <a href="#" class="backtotop" title="Back to top"><img src="/images/icons/chevron-up.svg" alt="chevron pointing up"></a>
  <div class="rainbow">
    {entries.map((entry: any) =>(
      <article class="entry">
        <h2>{entry.human_fields.Url && <a href={entry.human_fields.Url}>{entry.name}</a>}{!entry.human_fields.Url && entry.name}</h2>
        <p>{entry.body}</p>
        <time>{new Date(entry.created_at).toLocaleDateString('en-gb', {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        })}</time>
      </article>
    ))}
  </div>
</Basic>