---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Toggle from "../../components/Toggle.astro";
import PrivacyPolicy from '../../components/PrivacyPolicy.astro';

const image = "/images/guestbook.jpg";
const alt = "Colourful speech bubbbles in watercolours";
const title = "Guestbook";
const description = "Please sign my guestbook!";

async function getGuestEntries() {
  const response = await fetch(new Request(`https://api.netlify.com/api/v1/forms/${import.meta.env.GUESTBOOK_ID}/submissions`, {method: 'GET', headers: {'Authorization': `Bearer ${import.meta.env.NETLIFY_ACCESS}`}}));
  return response.json();
}
const entries = await getGuestEntries();
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>

	<body>
		<Header />
		<main class="guestbookIndex">
			<div class="tab sara"><h2><a href="/#gosara">sara</a></h2></div>
			<div class="tab stuff"><h2><a href="/#gostuff">stuff</a></h2></div>
			<div class="tab blog"><h2><a href="/#goblog">blog</a></h2></div>
			<div class="tab find"><h2><a href="/#find">find</a></h2></div>
			<div class="post guestbook">
				<article>
					<img
						src={image}
						alt={alt}
					/>
					<h1>{title}</h1>
					<p>{description}</p>
					<p>
            In the spirit of a (welcome, and overdue!) resurgence of nostalgia for the old, decentralised web, where many of us bashed out our own personal homepages and filled them with whimsical, social stuff not only intended to make us look good for prospective clients or employers, I've built myself a this little guestbook.
          </p>
					<p>Don't expect instant updates, new messages will be moderated, and added when I next deploy my site :)</p>
					
					<form name="guestbook" method="POST" data-netlify="true" Content-Type="application/x-www-form-urlencoded">
						<input type="hidden" name="form-name" value="guestbook" />
						<p>
							<label
								>Name
								<br /><input type="text" name="name" required /></label
							>
						</p>
						<p>
							<label
								>Email <small>(optional, not published)</small>
								<br /><input type="email" name="email" placeholder="place@holder.com" /></label
							>
						</p>
						<p>
							<label
								>URL <small>(optional, linked from Name)</small>
								<br /><input type="url" name="url" placeholder="https://example.com" pattern="https://.*" /></label
							>
						</p>
						<p>
							<label class="message">Message<br /><textarea name="message" required /></label>
						</p>
						<p>
							<button type="submit"><b>Send</b></button>
						</p>
					</form>
          <PrivacyPolicy />
					{entries.map((entry:any) =>(
						<article class="entry">
							<h2>{entry.human_fields.Url && <a href={entry.human_fields.Url}>{entry.name}</a>}{!entry.human_fields.Url && entry.name}</h2>
							<p>{entry.body}</p>
							<time>{new Date(entry.created_at).toLocaleDateString('en-gb', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
							})}</time>
						</article>
					))}
					<a class="back" href="/#find">&larr; back to find page</a>
				</article>
			</div>
		</main>
		<Toggle />
	</body>
</html>

<style>
	main {
		background-color: var(--header);
		margin-top: var(--tabheight);
	}
	.tab {
		position: fixed !important;
		width: calc(100% - 0.5rem);
	}
	.guestbook {
		background-color: var(--find);
		margin: 0 0.25rem;
	}
	.entry {
		background-color: var(--stuff);
    margin: 5vmin 0;
	}
	.entry h2 {
		margin-bottom: 0;
	}
  .entry p {
    white-space: pre-line;
  }
	article {
		max-width: 80ch;
		margin: 0 auto;
		padding: 5.5vmin;
	}
	img {
		margin-inline: auto;
		margin-block: 0 3vmin;
	}
	h1, h3 {
		margin-bottom: 0;
	}
	time {
		display: block;
		width: fit-content;
		margin: 0 0 3vmin auto;
	}

</style>
