---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Toggle from "../../../components/Toggle.astro";
import ThortBody from '../../../components/ThortBody.astro';

const image = "/images/blog/short-thorts.jpg";
const alt = "Colourful speech and thought bubbbles in watercolours";
const title = "Short Thorts";
const description = "Shought Thoughts from the jelly between Sara's ears.";

// const shorts = (await Astro.glob('./*.{md,mdx}')).sort(
// 	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
// );
import { getCollection } from "astro:content";
const shorts = (await getCollection("short")).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  );
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>

	<body>
		<Header />
		<main class="shortIndex">
			<div class="tab sara"><a href="/#gosara">sara</a></div>
			<div class="tab stuff"><a href="/#gostuff">stuff</a></div>
			<div class="tab blog"><a href="/#goblog">blog</a></div>
			<div class="post">
				<article>
					<img
						src={image}
						alt={alt}
					/>
					<h1 id="page-title">{title}</h1>
					<p>{description}</p>
					<a href="#" class="backtotop" title="Back to top"><img src="/images/icons/chevron-up.svg" alt="chevron pointing up"></a>
					{shorts.map((short) => (
						<article class="short">
							<h3><a href={"/blog/short/" + short.slug}>{short.data.title}</a></h3>
							<time datetime={short.data.pubDate}>
								{new Date(short.data.pubDate).toLocaleDateString('en-gb', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
       				<ThortBody slug={short.slug} />
						</article>
					))}
					<a class="back" href="/#goblog">&larr; back to blog index</a>
				</article>
			</div>
		</main>
		<Toggle />
	</body>
</html>

<!-- <style>
	main {
		background-color: var(--header);
		margin-top: var(--tabheight);
	}
	.tab {
		position: fixed !important;
		width: calc(100% - 0.5rem);
	}
	article {
		max-width: 80ch;
		margin: 0 auto;
		padding: 6vmin 5.5vmin 5.5vmin;
	}
	/* img {
		margin-inline: auto;
		margin-block: 0 3vmin;
	} */
	h1, h3 {
		margin-bottom: 0;
	}
	time {
		display: block;
		width: fit-content;
		margin: 0 0 3vmin auto;
	}
	.backtotop {
		position: fixed;
		bottom: 1rem;
		left: calc(50% - min(38ch, calc(50% - 1.25rem)));
	}

</style> -->
