---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import '../styles/art.css';

const today = new Date();

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />	
		
		<main id="content">
			<section id="hero">
				<div class="big heart" id="heart0"></div>
				<div class="big heart" id="heart90"></div>
				<div class="big heart" id="heart180"></div>
				<div class="big heart" id="heart270"></div>
				<div class="sml heart" id="heart45"></div>
				<div class="sml heart" id="heart135"></div>
				<div class="sml heart" id="heart225"></div>
				<div class="sml heart" id="heart315"></div>

				<div class="sprig" id="sprig0"></div>
				<div class="sprig" id="sprig90"></div>
				<div class="sprig" id="sprig180"></div>
				<div class="sprig" id="sprig270"></div>

				<div class="circle sml" id="circle0a"></div>
				<div class="circle sml" id="circle90a"></div>
				<div class="circle sml" id="circle180a"></div>
				<div class="circle sml" id="circle270a"></div>

				<div class="circle wee" id="circle0b"></div>
				<div class="circle wee" id="circle90b"></div>
				<div class="circle wee" id="circle180b"></div>
				<div class="circle wee" id="circle270b"></div>

				<div class="circle tiny" id="circle0c"></div>
				<div class="circle tiny" id="circle90c"></div>
				<div class="circle tiny" id="circle180c"></div>
				<div class="circle tiny" id="circle270c"></div>

				<div class="yinyang long" id="yang0"></div>
				<div class="yinyang short" id="yang1"></div>
				<div class="yinyang long" id="yang2"></div>
				<div class="yinyang short" id="yang3"></div>
				<div class="yinyang long" id="yang4"></div>
				<div class="yinyang short" id="yang5"></div>
				<div class="yinyang long" id="yang6"></div>
				<div class="yinyang short" id="yang7"></div>

				<div class="yinyang long" id="yin0"></div>
				<div class="yinyang short" id="yin1"></div>
				<div class="yinyang long" id="yin2"></div>
				<div class="yinyang short" id="yin3"></div>
				<div class="yinyang long" id="yin4"></div>
				<div class="yinyang short" id="yin5"></div>
				<div class="yinyang long" id="yin6"></div>
				<div class="yinyang short" id="yin7"></div>
			</section>

			<button tabindex="0" id="toggleBtn" onclick="toggleMode()" title="Light/Dark Mode Toggle"></button>

			<div class="anchor" id="gosara"></div>
			<div class="tab sara"><h2><a href="#gosara">sara</a></h2></div>
			<section id="sara">
				<article>
					<h3>Hi! Welcome :)</h3>
					<div class="welcome">
						<img src="images/photo.png" alt="A picture of me!" loading="lazy">
						<div class="blurb">
							<p>I am a techy person with a front end develop&shy;ment 'Schwer&shy;punkt'.</p>
							<p>This site is built with vanilla HTML & CSS in Astro (with some JS just for the light/dark mode <button id="inline-toggle" onclick="toggleMode()">toggle</button>).</p>
						</div>
					</div>
					<p class="signoff">~ Sara J. W. {today.getFullYear()}</p>
					
					<h3>Skills</h3>
					<div class="stack">
						<img class="logo" src="images/icons/html-5.svg" alt="HTML5" title="HTML5" loading="lazy">
						<img class="logo" src="images/icons/css-3.svg" alt="CSS3" title="CSS3" loading="lazy">
						<img class="logo" src="images/icons/javascript.svg" alt="JavaScript" title="JavaScript" loading="lazy">
						<img class="logo" src="images/icons/typescript-icon.svg" alt="TypeScript" title="TypeScript" loading="lazy">
						<img class="logo" src="images/icons/php-alt.svg" alt="PHP" title="PHP" loading="lazy">
						<img class="logo" src="images/icons/react.svg" alt="React" title="React" loading="lazy">
						<img class="logo" src="images/icons/nextjs-icon.svg" alt="Next.js" title="Next.js" loading="lazy">
						<img class="logo" src="images/icons/svelte-icon.svg" alt="Svelte" title="Svelte" loading="lazy">
						<img class="logo" src="images/icons/prisma.svg" alt="Prisma" title="Prisma" loading="lazy">
						<img class="logo" src="images/icons/tailwindcss-icon.svg" alt="Tailwind CSS" title="Tailwind CSS" loading="lazy">
						<img class="logo" src="images/icons/git-icon.svg" alt="Git" title="Git" loading="lazy">
						<img class="logo" src="images/icons/postgresql.svg" alt="PostgreSQL" title="PostgreSQL" loading="lazy">
						<img class="logo" src="images/icons/mysql-icon.svg" alt="MySQL" title="MySQL" loading="lazy">
						<img class="logo" src="images/icons/powershell.svg" alt="PowerShell" title="PowerShell" loading="lazy">
						<img class="logo" src="images/icons/bash-icon.svg" alt="Bash" title="Bash" loading="lazy">
					</div>
				</article>
			</section>
			
			<div class="anchor" id="gowork"></div>
			<div class="tab work"><h2><a href="#gowork">work</a></h2></div>
			<section id="work">
				<article>
					<section class="container box1">
						<button class="bigrow" id="a1" style="background-image: url('/images/work/sarawallen_com.png')" onclick="document.getElementById('modal-a1').showModal();">
							<h3 class="caption">sara​wallen.com</h3>
						</button>
						<dialog id="modal-a1">
							<button onclick="document.getElementById('modal-a1').close();" title="Close">×</button>
							<img src="/images/work/sarawallen_com_large.png" alt="Sara's main landing page - the screenshot shows the nagivation of the website with the INTRO: Hi! Welcome :) and STUFF: Web Development & Design tabs in view" />
							<a href="https://sarawallen.com" target="_blank">
								<h2>sarawallen.com</h2>
							</a>
							<p>
								I had an idea about using the behaviour of the CSS property
								"position: sticky" to make a stack of cards that would land on top
								of each other when scrolling. Well, I made it and immediately
								applied it to my landing page :)
							</p>
							<p>First written in Notepad++ in HTML and CSS only!</p>
						</dialog>
						
						<button class="bigsq" id="b1" style="background-image: url('/images/work/yasmin_sqthumb.png')" onclick="document.getElementById('modal-b1').showModal();">
							<h3 class="caption">Yasmin</h3>
						</button>
						<dialog id="modal-b1">
							<button onclick="document.getElementById('modal-b1').close();" title="Close">×</button>
							<img src="/images/work/yasmin_large.png" alt="Yasmin Brinkmann's website - the headline is Praxis für systemische Beratung, Coaching & Biographiearbeit and there is a picture of her with her arms folded wearing a red top and a fetchingly striped blazer." />
								<a href="https://yasmin-brinkmann.de" target="_blank">
									<h2>Yasmin Brinkmann</h2>
								</a>
								<p>
									A friend from swing dancing needed a new landing page, and gracefully agreed to my coding it from scratch as a learning exercise.
								</p>
								<p>
									Written in pure "vanilla" HTML, CSS and a smattering of JavaScript :)
								</p>
							</dialog>
						
						<div class="smsq1" id="c1"></div>
						<div class="smsq2" id="d1"></div>
					</section>
				
					<section class="container box2"><div class="smsq1" id="a2"></div>
						<button class="bigsq" id="b2" style="background-image: url('/images/work/bendickson_sq.png')"><h3 class="caption">Benjamin Dickson
							</h3></button>
						
						<button class="smsq2" id="c2" style="background-image: url('/images/work/ascii.png')" title="Open Ascii Art"><h3 class="caption">ASCII Art</h3></button>
						
						<button id="d2" class="bigrow" style="background-image: url('/images/work/binnenalster_small.jpg')"><h3 class="caption">Hamburg</h3></button>
					</section>
				
					<section class="container box3"><div class="bigsq" id="a3"></div>
						<button class="bigsq" id="a3" style="background-image: url('/images/work/blogolio_sq.png')"><h3 class="caption">Blogolio</h3></button>
						
						<button class="smsq1" id="b3" style="background-image: url('/images/work/mega-zine.png')" title="Open Mega-Zine"><h3 class="caption">Mega-zine</h3></button>
						
						<button class="shrow" id="c3" style="background-image: url('/images/work/tumblr_small.png')" title="Open Tumblr"><h3 class="caption">Tumblr</h3></button>
						
						<div class="shcol" id="d3"></div>
					</section>
				
					<section class="container box4"><button class="shcol" id="a4" style="background-image: url('/images/work/cheeper_small.png')" title="Open Cheeper"><h3 class="caption">Chee​per</h3></button>
						
						<button class="shrow" id="b4" style="background-image: url('/images/work/mktimelapse_small.png')"><h3 class="caption">MK time­lapse
							</h3></button>
						
						<button class="bigsq" id="c4" style="background-image: url('/images/work/lightdark.png')" title="Open Light/Dark Mode"><h3 class="caption">Light­/Dark Mode</h3></button>
						
						<button class="smsq1" id="d4" style="background-image: url('/images/work/blogger_small.png')" title="Open Blogger"><h3 class="caption">Blog​ger</h3></button>
					</section>
				</article>
			</section>
			
			<div class="anchor" id="goblog"></div>
			<div class="tab blog"><h2><a href="#goblog">blog</a></h2></div>
			<section id="blog">
				<article>
					<ul>
						{posts.map((post) => (
							<li>
								<a href={post.url}><img src={post.frontmatter.heroImage?post.frontmatter.heroImage:"/images/blog/placeholder.png"} alt={post.frontmatter.caption?post.frontmatter.caption:"blog post placeholder image"}></a>
								<div>
									<a href={post.url}><h3>{post.frontmatter.title}</h3></a>
									{post.frontmatter.description && <p>{post.frontmatter.description}</p>}
									<time datetime={post.frontmatter.pubDate}>
										{new Date(post.frontmatter.pubDate).toLocaleDateString('en-gb', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
								</div>
							</li>
						))}
					</ul>
				</article>
			</section>
			
			<div class="tab find"><h2><a href="#find">find</a></h2></div>
			<section id="find">
				<article>
					<h3>Find me on:</h3>
						<ul>
							<li>
								<a class="img" href="https://twitter.com/sarajwallen" target="_blank"><img class="social"
										src="images/icons/twitter.svg" alt="Twitter" title="Twitter" loading="lazy">
									<br>@sarajwallen</a></li>
							<li>
								<a class="img" href="https://github.com/sarajw" target="_blank"><img class="social"
										src="images/icons/github.svg" alt="GitHub" title="GitHub" loading="lazy">
									<br>/sarajw</a></li>
							<li>
								<a class="img" href="https://codepen.io/sarajw" target="_blank"><img class="social"
										src="images/icons/codepen-icon.svg" alt="CodePen" title="CodePen" loading="lazy">
									<br>/sarajw</a></li>
							<li>
								<a class="img" href="https://sarajw.hashnode.dev/" target="_blank"><img class="social"
										src="images/icons/hashnode-icon.svg" alt="hashnode" title="hashnode" loading="lazy">
									<br>sarajw.</a></li>
							<li>
								<a class="img" href="https://www.linkedin.com/in/sarawallen/" target="_blank"><img
										class="social" src="images/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn" loading="lazy">
									<br>/sarawallen</a></li>
							<li>
								<a class="img" href="https://xing.to/sarajw" target="_blank"><img class="social"
										src="images/icons/xing.svg" alt="XING" title="XING" loading="lazy">
									<br>xing.to/sarajw</a></li>
						</ul>
				</article>
				<a href="#" class="backtotop" title="Back to top"><img src="images/icons/chevron-up.svg" alt="chevron pointing up"></a>
			</section>
		</main>
	
		<!-- <Footer /> -->
	</body>

	<script is:inline defer>
		const sections = document.querySelectorAll("main > section:not(#hero)");
		window.addEventListener('DOMContentLoaded', (event) => {
			for (const section of sections) {
				let sectionHeight = section.offsetHeight;
				console.log(section.id);
				console.log(sectionHeight);
				section.style.top = `calc(100vh - ${sectionHeight}px)`;
			}
		});
	</script>

</html>
