---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Toggle from "../components/Toggle.astro";

const image = "/images/placeholder.png";
const alt = "";
const title = "Works in Progress";
const description = "A list of enthusiastically started and carelessly discarded projects.";

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>

	<body>
		<Header />
		<main class="wips">
			<div class="tab sara"><a href="/#gosara">sara</a></div>
			<div class="tab stuff"><a href="/#gostuff">stuff</a></div>
			<div class="work">
				<article>
					<img class="title-img"
						src={image}
						alt={alt}
					/>
					<h1>{title}</h1>
					<p>{description}</p>
					<p>I very easily jump on new project ideas! But I very rarely finish them...</p>
					<a href="#" class="backtotop" title="Back to top"><img src="/images/icons/chevron-up.svg" alt="chevron pointing up"></a>
					<article class="sheet">
						<h2><a href="https://codepen.io/sarajw/pen/xxBGmRZ">No class CSS</a></h2>
						<p>This started off with an idea about being very lightweight - and then I added colour themes and then I got stuck for far too long styling the range slider.</p>
					</article>
					<article class="sheet">
						<h2><a href="/basic">Basic website</a></h2>
						<p>This was imagined to be a new redesign of this site, or a less slidey tabby version of this one. Ideally it would be more elegant,somehow.</p>
<p>I'm not sure I'm managing it, it's very much on the back burner! I love the display font though: Ships Whistle &lt;3</p>
					</article>
					<article class="sheet">
						<h2><a href="/blog/scrolling-tabs/">The making of</a></h2>
						<p>I'm attempting to write up how I made this site's gimmick work. But, I started improving how it's done as I went along, meaning I really ought to incorporate said improvements back into this site, and lost momentum 🤦</p>
					</article>
					<article class="sheet">
						<h2><a href="https://color-scheme.yay.boo">Slide deck</a></h2>
						<p>I gave this <a href="https://www.youtube.com/watch?v=Lye56NHGtLA">talk on CSS property <code>color-scheme</code></a>, and tried to share the powerpoint presentation afterwards - which had a horribly inaccessible accessibility mode. So I started making my own.</p>
						<p>There's a nearly invisible button at the bottom left, which toggles a document vs. slideshow mode.</p>
					</article>
					<article class="sheet">
						<h2>To add:</h2>
						<p>Copyable websites</p>
						<p>There's probs more...</p>
					</article>
					<a class="back" href="/#gostuff">&larr; back to stuff index</a>
				</article>
			</div>
		</main>
		<Toggle />
	</body>
</html>

<style>
	main {
		background-color: var(--header);
		margin-top: var(--tabheight);
	}
	.tab {
		position: fixed !important;
		width: calc(100% - 0.5rem);
	}
	article {
		max-width: 80ch;
		margin: 0 auto;
		padding: 6vmin 5.5vmin 5.5vmin;
	}
	
	h1, h3 {
		margin-bottom: 0;
	}
	.backtotop {
		position: fixed;
		bottom: 1rem;
		left: calc(50% - min(38ch, calc(50% - 1.25rem)));
	}

</style>
