---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image = '/images/photo.png' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="color-scheme" content="light dark">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script is:inline>
// first, a useful variable to neaten things up:
const htmlRoot = document.querySelector("html");
const colorScheme = document.querySelector('meta[name="color-scheme"]');


// check for color-scheme, if not set, then...
if (colorScheme.content === "light dark") {
  // ..if user OS is in dark mode...
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    // ..add dark-mode class to html element
    htmlRoot.classList.add("dark-mode");
  }
}

// set color-scheme to dark
function switchDark() {
  colorScheme.setAttribute("content", "dark");
  htmlRoot.classList.add("dark-mode");
}
// set color-scheme to light
function switchLight() {
  colorScheme.setAttribute("content", "light");
  htmlRoot.classList.remove("dark-mode");
}

function toggleMode() {
  // check for color-scheme, if not set, then...
  if (colorScheme.content === "light dark") {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      switchLight();
    } else {
      switchDark();
    }
  } else if (colorScheme.content === "light") {
    switchDark();
  } else if (colorScheme.content === "dark") {
    switchLight();
  }
}

// now we can to check for live changes, by adding an
// event listener in case our user flips the OS mode
window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
  // only run if the html element color-scheme is not set
  if (colorScheme.content === "light dark") {
    // add/remove dark mode to match OS setting
    if(event.matches) {
      htmlRoot.classList.add("dark-mode");
    } else {
      htmlRoot.classList.remove("dark-mode");
    }
  }
});
</script>