---
const { buttonClass, buttonImg, modalId, modalImg, alt, url, title } = Astro.props;
---

<!-- <button class={buttonClass} style={`background-image: url("/images/stuff/${buttonImg}")`} onclick={`window.${modalId}.showModal()`}> -->
  <button class={buttonClass} onclick={`window.${modalId}.showModal()`}>

  <span class="caption">{title}</span>
</button>
<dialog id={modalId}>
  <form method="dialog">
    <button aria-label="close">×</button>
  </form>
  <div>
    {modalImg && <img src={'/images/stuff/'+modalImg} alt={alt} loading="lazy" />}
    <div>
      {url ?
      <h3>
        <a href={url}>
          {title}
        </a>
      </h3>
      :
      <h3>{title}</h3>
      }
      <slot />
    </div>
  </div>
</dialog>