---
const { buttonClass, buttonImg, modalId, modalImg, alt, url, title } = Astro.props;
---

<button class={buttonClass} style={`background-image: url("/images/stuff/${buttonImg}")`} onclick={`window.${modalId}.showModal()`}>
  <span class="caption">{title}</span>
</button>
<dialog id={modalId}>
  <button title="Close" onclick={`window.${modalId}.close()`}>×</button>
  <div>
    {modalImg && <img src={'/images/stuff/'+modalImg} alt={alt} loading="lazy" />}
    <div>
      {url ?
      <h3>
        <a href={url} target="_blank">
          {title}
        </a>
      </h3>
      :
      <h3>{title}</h3>
      }
      <slot />
    </div>
  </div>
</dialog>

<script is:inline define:vars={{ modalId }}>
  const modal = document.getElementById(modalId);

  window.addEventListener('click', function (event) {
    if (event.target === modal) {
      modal.close(); 
    }
  });
</script>