---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Toggle from "../../../components/Toggle.astro";

const image = "/images/blog/blogroll-transparent.webp";
const alt = "A toilet roll with a friendly placeholder face painted onto it.";
const title = "BlogRoll";
const description = "My favourite other blogs for your perusal, in alphabetical order.";

const response = await fetch("https://webri.ng/webring/cssjoy/sites");
let sitesData = await response.json();

sitesData = sitesData.sort((a, b) => {
	if (a.name.toLowerCase() < b.name.toLowerCase()) {
		return -1;
	}
});

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>

	<body>
		<Header />
		<main class="rollIndex">
			<div class="tab sara"><h2><a href="/#gosara">sara</a></h2></div>
			<div class="tab stuff"><h2><a href="/#gostuff">stuff</a></h2></div>
			<div class="tab blog"><h2><a href="/#goblog">blog</a></h2></div>
			<div class="post">
				<article>
					<img class="title-img"
						src={image}
						alt={alt}
					/>
					<h1>{title}</h1>
					<p>{description}</p>
					<p>Incidentally, if you're wondering about the picture of a roll of toilet paper, do enjoy reading the <a href="https://front-end.social/@sarajw/111844033582141045">conversation about it</a> on Mastodon!</p>
					<a href="#" class="backtotop" title="Back to top"><img src="/images/icons/chevron-up.svg" alt="chevron pointing up"></a>
					<article class="sheet">
						<h3>To be populated!</h3>
						<p>Watch this space :)</p>
					</article>
					<article class="sheet">
						<h3>All the <a href="https://cs.sjoy.lol">CSS JOY Webring</a> Sites</h3>
						<p>Most of which are also blogs or digital gardens:</p>
						<ul id="webring-sites">{sitesData.map((link) => (
							<li><a href={link.url}>{link.name}</a></li>
							)
						)}</ul>
					</article>
					<a class="back" href="/#goblog">&larr; back to blog index</a>
				</article>
			</div>
		</main>
		<Toggle />
	</body>
</html>

<style>
	main {
		background-color: var(--header);
		margin-top: var(--tabheight);
	}
	.tab {
		position: fixed !important;
		width: calc(100% - 0.5rem);
	}
	article {
		max-width: 80ch;
		margin: 0 auto;
		padding: 6vmin 5.5vmin 5.5vmin;
	}
	
	h1, h3 {
		margin-bottom: 0;
	}
	time {
		display: block;
		width: fit-content;
		margin: 0 0 3vmin auto;
	}
	.backtotop {
		position: fixed;
		bottom: 1rem;
		left: calc(50% - min(38ch, calc(50% - 1.25rem)));
	}
	@media (min-width: 500px) {
		#webring-sites {
				columns: 2;
		}
	}

</style>
